<div class="change-color">
    <div class="change-color__input">
        <p>Color</p>
        <div>
            <input type="color" (input)="toolStore.setColor($event.target.value)">
            <input type="text" placeholder={{toolStore.color()}} (input)="toolStore.setColor($event.target.value)">
        </div>
    </div>
    <div class="change-color__presets">
        @for (color of colorPresets; track $index) {
        <div [style.background-color]="color" (click)="toolStore.setColor(color)"></div>
        }
    </div>
</div>