.container {
    height: 100vh;
    background-color: #f9f9f1;
}

.section__options {
    display: flex;
    width: 90%;
    gap: 10px;
    margin: 0 auto;
}

.section__options__tools {
    width: 25%;
    background-color: #fff;
}

.section__options__canvas {
    width: 100%;
    background-color: #fff;
}