@font-face {
    font-family: 'Geist';
    src: url('./assets/Geist.ttf') format('truetype');
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Geist';
}